.m8mN_ {
	font-family: var(--font-family);
	flex-wrap: wrap;
	
    font-size: .78125rem;
	font-weight: 400;

	line-height: 1.52;
	display: flex;
}

.m8mN_ a {
	cursor: pointer;
	padding: 0 6px;
	text-decoration: none;
}

@media (max-width:989.999px) {
	.m8mN_ a {
		padding: 0 12px;
	}
}

.m8mN_ a:hover,
.m8mN_ a:focus {
	text-decoration: underline;
}

.m8mN_._qHCt {
	--element-height: 1.52em;
	top: calc(100vh - var(--element-height) - 20px);
	gap: 3px 12px;
	margin-bottom: 20px;
	padding: 0 8px;
	position: -webkit-sticky;
	position: sticky;
}

.m8mN_._qHCt.hG1qj {
	top: calc(100vh - var(--element-height) - (118px + 20px));
	margin-bottom: 138px;
}

.m8mN_._qHCt a {
	color: var(--color-primary-link);
	padding: 0;
}

.m8mN_.CWSOV {
	justify-content: center;
}

.nXAVF {
	white-space: pre;
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
}

.nXAVF.hJQ0M {
	flex-wrap: nowrap;
}

@media (prefers-reduced-motion:no-preference) {
	.aZTpT:nth-child(4n+1) {
		animation: 4s ease-in-out -.5s infinite qnpVb;
	}

	@keyframes qnpVb {
		0% {
			transform: translateY(5%)skew(3deg);
		}

		25% {
			transform: translateY(-5%);
		}

		50% {
			transform: translateY(5%)skew(-3deg);
		}

		75% {
			transform: translateY(-5%);
		}

		to {
			transform: translateY(5%)skew(3deg);
		}
	}

	.aZTpT:nth-child(4n+2) {
		animation: 4s ease-in-out -1s infinite qnpVb;
	}

	.aZTpT:nth-child(4n+3) {
		animation: 4s ease-in-out -1.5s infinite qnpVb;
	}

	.aZTpT:nth-child(4n) {
		animation: 4s ease-in-out infinite qnpVb;
	}
}

.Tuzss,
.IRHBB {
	opacity: .87;
}

.IvzMP {
	font-family: var(--font-family);
	color: RGB(var(--white-on-dark));
	background: RGB(var(--navy));
	border-radius: 6px;
	font-size: 1.125rem;
	font-weight: 400;
	line-height: 1.33333;
	box-shadow: 0 0 15px rgba(0, 0, 0, .5);
}

.IvzMP.smX3m {
	opacity: 1;
}

.IvzMP.OXBX5.lJFly {
	opacity: 0;
	transition: all .3s ease-in-out;
	transform: translate(100vw);
}

.VC_rY {
	z-index: 100;
	justify-content: center;
	align-items: center;
	width: 532px;
	max-width: calc(100% - 32px);
	margin: 16px 0;
	display: flex;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

@media (max-width:540px) {
	.VC_rY .hhVNo {
		text-align: center;
		align-self: center;
	}
}

@media (min-width:640px) {
	.VC_rY {
		width: auto;
		min-width: 532px;
		margin: 24px 0;
	}

	.VC_rY .xw7_H {
		width: -webkit-min-content;
		width: -moz-min-content;
		text-align: center;
		flex-direction: column;
		width: min-content;
	}

	.VC_rY .hhVNo {
		flex: auto;
		margin: 8px;
	}

	.VC_rY .N4Zk9 {
		margin-top: 0;
	}

	.VC_rY .N4Zk9.M0eFR {
		width: 45%;
	}

	.VC_rY .qL5St {
		flex-direction: row;
		width: 100%;
		padding: 8px 16px 0;
		display: flex;
	}
}

@media (min-width:990px) {
	.VC_rY.HNgSS {
		left: calc(50% - 132px);
	}
}

.hpXSR {
	box-shadow: none;
	margin-bottom: 20px;
}

.hpXSR .N4Zk9 {
	margin: 16px auto 0;
}

.xw7_H {
	opacity: 1;
	border-radius: 6px;
	flex-direction: column;
	flex: 1;
	justify-content: space-between;
	align-items: flex-start;
	padding: 16px;
	display: flex;
	overflow: hidden
}

.xw7_H.M0eFR {
	text-align: center;
	align-items: center
}

.xw7_H.M0eFR .N4Zk9 {
	flex-direction: column-reverse;
	align-items: stretch
}

.xw7_H.M0eFR .N4Zk9 .Tuzss,
.xw7_H.M0eFR .N4Zk9 .TwoER {
	margin: 0
}

.xw7_H.M0eFR .N4Zk9 .Tuzss {
	border: 0
}

.xw7_H.M0eFR .qL5St {
	flex-direction: row;
	gap: 16px;
	width: 100%;
	max-width: 600px;
	padding: 8px 16px 0
}

.hgN9e {
	border-radius: 0;
	width: 100%;
	max-width: none;
	margin: 0;
	left: 0;
	transform: none
}

.hgN9e .xw7_H {
	min-width: 0;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content
}

@media (min-width:640px) {
	.hgN9e .xw7_H {
		gap: 16px
	}
}

.hgN9e .hhVNo {
	font-family: var(--font-family);
	flex: none;
	align-self: center;
	margin: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5
}

.oOtFz {
	font-family: var(--font-family);
	font-size: 1.3125rem;
	font-weight: 700;
	line-height: 1.52381
}

.N4Zk9 {
	align-self: center;
	margin-top: 16px;
	display: flex
}

.Tuzss,
.TwoER {
	border: 1px solid RGB(var(--white-on-dark));
	border-radius: 3px;
	justify-content: center;
	align-items: center;
	display: flex
}

.Tuzss :first-child,
.TwoER :first-child {
	padding: 6px 15px
}

.Tuzss:not(:first-child),
.TwoER:not(:first-child) {
	margin-left: 8px
}

.TwoER {
	border-color: RGB(var(--white-on-dark));
	background: RGB(var(--white-on-dark));
	color: RGB(var(--navy))
}

.Ukaq9 {
	padding: 3px 0
}

.snNt1 {
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
	text-decoration: none;
	display: flex
}

.snNt1:hover,
.snNt1:focus {
	color: RGB(var(--black));
	background-color: RGB(var(--secondary-accent))
}

.fNBIy {
	border: none;
	border-bottom: 1px solid rgba(var(--black), .13);
	margin: 4px 0
}

.F3bvL {
	justify-content: space-between;
	padding: 8px 12px
}

.F3bvL:hover,
.F3bvL:focus {
	color: RGB(var(--white))
}

.F3bvL:hover svg>use,
.F3bvL:focus svg>use {
	--icon-color-primary: RGB(var(--white))
}

._47eZM {
	display: flex
}

.FjHC8 {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px
}

.K33Zl {
	--icon-color-primary: RGB(var(--black))
}

.K33Zl:hover,
.K33Zl:focus {
	background-color: RGB(var(--black))
}

.Guk6U {
	--icon-color-primary: RGB(var(--red))
}

.Guk6U:hover,
.Guk6U:focus {
	background-color: RGB(var(--red))
}

.Qw3Wo {
	--icon-color-primary: RGB(var(--orange))
}

.Qw3Wo:hover,
.Qw3Wo:focus {
	background-color: RGB(var(--orange))
}

.WC9ut {
	--icon-color-primary: RGB(var(--green))
}

.WC9ut:hover,
.WC9ut:focus {
	background-color: RGB(var(--green))
}

.jYem4 {
	--icon-color-primary: RGB(var(--blue))
}

.jYem4:hover,
.jYem4:focus {
	background-color: RGB(var(--blue))
}

.Y6Y3T {
	--icon-color-primary: RGB(var(--purple))
}

.Y6Y3T:hover,
.Y6Y3T:focus {
	background-color: RGB(var(--purple))
}

.C60xO {
	--icon-color-primary: RGB(var(--pink))
}

.C60xO:hover,
.C60xO:focus {
	background-color: RGB(var(--pink))
}

._WZQZ {
	--icon-color-primary: RGB(var(--black))
}

._WZQZ:hover,
._WZQZ:focus {
	background-color: RGB(var(--black))
}

.JKDmv {
	font-family: var(--font-family);
	border-radius: 8.5px;
	align-items: center;
	padding: 1px 10px;
	font-size: .78125rem;
	font-weight: 700;
	line-height: 1.52;
	display: flex
}

.Lz0ir {
	font-family: var(--font-family);
	color: #000;
	background-color: #fff;
	flex-grow: 1;
	justify-content: center;
	align-items: center;
	font-size: .875rem;
	font-weight: 400;
	line-height: 1.42857;
	display: flex
}

.Lz0ir .mV4MK {
	background-color: rgba(0, 25, 53, .1)
}

.CpYe0 {
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	width: 100%;
	display: flex
}

.PGwsl {
	text-overflow: ellipsis;
	flex-grow: 0;
	margin-right: 10px;
	overflow: hidden
}

@supports (display:-webkit-box) and ((-webkit-box-orient:vertical)) and (-webkit-line-clamp:1) {
	.PGwsl {
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		display: -webkit-box
	}
}

@supports not ((display:-webkit-box) and ((-webkit-box-orient:vertical)) and (-webkit-line-clamp:1)) {
	.PGwsl {
		white-space: nowrap
	}
}

.xidwt {
	cursor: pointer
}

.xidwt:before {
	content: "◄";
	padding-right: .5em
}

.cQDu6 {
	cursor: pointer
}

.cQDu6:after {
	content: "►";
	padding-left: .5em
}

.Jt3oa {
	opacity: .3;
	pointer-events: none
}

.a_vKv {
	padding: 3px 0
}

.SMLeM {
	cursor: default
}

.gTzoB {
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	font-weight: 400;
	display: flex
}

.C1hhh {
	border: none;
	border-bottom: 1px solid rgba(var(--black), .13);
	margin: 4px 0
}

.Clzyd {
	color: rgba(255, 255, 255, .65);
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	display: flex
}

.BhPeV {
	border-left: 1px solid rgba(255, 255, 255, .4);
	margin: 0 10px;
	display: flex
}

@media (max-width:540px) {
	.BhPeV {
		margin: 0 5px
	}
}

.DTmup {
	flex-direction: row;
	align-items: center;
	display: flex;
	position: relative
}

.c8yUu {
	cursor: pointer;
	color: #fff;
	font-size: inherit;
	font-weight: inherit;
	align-items: center;
	display: flex
}

.c8yUu .lncIj {
	text-overflow: ellipsis;
	padding-right: 5px;
	overflow: hidden
}

@supports (display:-webkit-box) and ((-webkit-box-orient:vertical)) and (-webkit-line-clamp:1) {
	.c8yUu .lncIj {
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		display: -webkit-box
	}
}

@supports not ((display:-webkit-box) and ((-webkit-box-orient:vertical)) and (-webkit-line-clamp:1)) {
	.c8yUu .lncIj {
		white-space: nowrap
	}
}

.hSoZ1 {
	flex-direction: column;
	align-items: center;
	display: flex
}

.hSoZ1 ._Qvh5 {
	font-family: var(--font-family);
	width: 100%;
	margin-bottom: 20px;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5
}

@media (max-width:540px) {
	.hSoZ1 ._Qvh5 {
		font-family: var(--font-family);
		font-size: 1.3125rem;
		font-weight: 700;
		line-height: 1.52381
	}
}

@media (max-width:699px) {
	.hSoZ1 ._Qvh5 {
		width: auto
	}
}

.hSoZ1 .FxPSK {
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 60px;
	display: flex
}

@media (max-width:699px) {
	.hSoZ1 .FxPSK {
		width: 480px;
		margin: auto
	}
}

@media (max-width:479px) {
	.hSoZ1 .FxPSK {
		width: 320px
	}
}

@media (max-width:319px) {
	.hSoZ1 .FxPSK {
		width: 160px
	}
}

.NGc5k {
	background-color: #e7e7e7;
	border-radius: 3px;
	width: 150px;
	height: 150px;
	margin: 0 5px 10px;
	position: relative;
	overflow: hidden
}

.bH35Z {
	color: RGB(var(--white));
	-moz-column-gap: 6px;
	justify-content: center;
	align-items: center;
	column-gap: 6px;
	margin: 0;
	display: flex
}

.lHKgh {
	opacity: .65
}

.AoHEQ {
	letter-spacing: 0;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: calc(100vw - 300px);
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 700;
	line-height: 18px;
	overflow: hidden
}

a.usfiq {
	text-decoration: none
}

.oqiM3 {
	width: 100%;
	height: 100%
}

.gSfy_ {
	box-sizing: border-box;
	border-bottom: 1px solid rgba(var(--white-on-dark), .07);
	font-family: var(--font-family);
	box-shadow: 0 2px 4px rgba(0, 0, 0, .25), 0 0 0 1px RGB(var(--black));
	flex-shrink: 0;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	padding: 10px;
	transition: transform .2s;
	display: flex;
	overflow: hidden
}

.kqXxn {
	visibility: hidden;
	border: 0;
	flex-shrink: 1;
	height: 0;
	padding: 0;
	transform: translateY(-50px)
}

.axZNe {
	align-items: center;
	height: 100%;
	display: flex
}

.ggBTJ {
	height: 50px;
	margin: -10px
}

@media only screen and (max-width:400px) {
	.ggBTJ {
		max-width: 225px
	}
}

.RrflF {
	overflow: visible
}

@media (max-width:540px) {
	.RrflF .ggBTJ {
		display: none
	}
}

.gG278 {
	width: 100%;
	padding: 100px 0
}

.gG278.ops60 {
	padding: 40px 0
}

.gxf2Y {
	box-sizing: border-box;
	stroke: RGB(var(--white-on-dark));
	background-color: transparent;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 30px;
	margin-top: auto;
	margin-bottom: 8px;
	padding: 4px 0 2px;
	display: flex
}

.gxf2Y svg {
	transform: rotate(-90deg)
}

.gxf2Y circle {
	stroke-width: 4px;
	fill: none;
	stroke-dasharray: 113.097
}

@keyframes b4eLl {
	0% {
		stroke-dashoffset: 0
	}

	to {
		stroke-dashoffset: 226.195px
	}
}

@keyframes d8uWm {
	0% {
		stroke: RGB(var(--green))
	}

	20% {
		stroke: RGB(var(--orange))
	}

	40% {
		stroke: RGB(var(--purple))
	}

	60% {
		stroke: RGB(var(--red))
	}

	80% {
		stroke: RGB(var(--white-on-dark))
	}
}

.bZWbL {
	animation: 1s ease-in-out infinite b4eLl, 5s step-end .5s infinite d8uWm
}

.sRM0W {
	background-color: transparent;
	border-radius: 50%;
	position: absolute;
	top: 4px;
	bottom: 4px;
	left: 4px;
	right: 4px
}

.v2cZ4 {
	background-color: RGB(var(--white));
	border-radius: 50%;
	height: 30px;
	position: relative
}

.oh58_ {
	border: 1px solid;
	border-radius: 4px;
	padding: .4em .8em
}

.F4hr9 {
	font-family: var(--font-family);
	box-sizing: border-box;
	justify-content: center;
	width: 100%;
	padding: 0;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.5
}

.F4hr9 button {
	padding: 10px
}

.fYlcy {
	background-color: rgba(var(--navy), .8);
	text-align: left;
	border: 1px solid rgba(var(--deprecated-accent), .15);
	border-radius: 4px;
	margin-top: 2rem;
	padding: .75em 1em;
	display: flex
}

.mw4qt {
	margin-right: .75em
}

.rZlUD {
	width: 100%;
	max-width: 540px
}

.hCiRr {
	flex-direction: column;
	flex: 1;
	display: flex
}

.rZlUD {
	opacity: .001
}

.rZlUD:not(.KYCZY) {
	overflow-wrap: break-word;
	overflow: hidden;
}

.rZlUD.F4Tcn,
.rZlUD.W45iW {
	opacity: 1;
}

@media (prefers-reduced-motion:no-preference) {
	.rZlUD.W45iW {
		animation: .3s ease-in DbRW0;
	}
}

.zAlrA {
	position: relative;
}

@keyframes DbRW0 {
	0% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.b1XhH {
	justify-content: space-between;
	align-items: center;
	margin-top: 16px;
	margin-bottom: 60px;
	display: flex;
}

@media (max-width:989.999px) {
	.b1XhH {
		max-width: calc(100% - 20px);
		margin-left: auto;
		margin-right: auto;
	}
}

.Iqryz {
	font-family: var(--font-family);
	border-radius: 3px;
	justify-content: center;
	align-items: center;
	min-width: 57.5px;
	padding: 6px 10px;
	font-size: .875rem;
	font-weight: 700;
	line-height: 1.42857;
	display: flex;
}

.Iqryz.KIkOD {
	color: RGB(var(--white));
	background: RGB(var(--deprecated-accent));
	margin-left: auto;
	transition: transform .2s cubic-bezier(.165, .84, .44, 1);
}

.Iqryz.KIkOD svg {
	margin-left: 8px;
}

.Iqryz.pRuyA {
	color: RGB(var(--white));
	background: rgba(var(--white-on-dark), .65);
}

.Iqryz.pRuyA svg {
	margin-right: 8px;
}

.Iqryz .PDFGd {
	box-sizing: border-box;
	justify-content: space-evenly;
	align-items: center;
	display: flex;
}

.yX_UF {
	background-color: #f2f2f2;
	width: 100%;
	min-height: 100vh;
	font-family: Favorit, Helvetica Neue, HelveticaNeue, Helvetica, Arial, sans-serif;
}

.MCh64 {
	z-index: 1;
	background-color: #001935;
	position: fixed;
	left: 0;
	right: 0;
}

.TlRfv {
	flex-direction: column;
	padding: 80px 30px 30px;
	display: flex;
}

@media (max-width:699px) {
	.TlRfv {
		padding: 80px 0 0;
	}
}

.wm8Ib {
	color: #595959;
	text-align: center;
	width: 100%;
	font-size: 17px;
	font-weight: 700;
}