@font-face {
    font-family: 'nimbusr2';

    src: url('nimbusr2.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nimbusb';

    src: url('nimbusb.woff2') format('woff2'),
         url('nimbusb.woff') format('woff');

    font-weight: normal;
    font-style: normal;
}